body {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
section {
  height: 100vh;
  padding: 200px;
  font-size: 0;
  background-image: url(./coins_gold.jpg);
  background-size: cover;
  background-position: center center;
}
@media (max-width: 990px) {
  section {
    padding: 100px 50px;
  }
}
button:nth-child(1) {
  margin-right: 40px;
}
button {
  width: calc( (100% - 40px)/2);
  height: 100%;
  font-size: 50px;
  background-color: rgba(157, 156, 157, 0.5);
}
button:hover {
  cursor: pointer;
  background-color: rgba(157, 156, 157, 0.9);
}
